

@import "tailwindcss";

button{
    background-color: aliceblue;
     
    /* margin: 2px; */
}

.cant2{
    padding: 7px;
    background-color: red;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3px;
}
.cant2>button{
    cursor: pointer;
    margin: 3px;
    padding: 4px;
}

.item1{
    margin: 3px;
    padding: 4px;
    grid-column-start: 1;
    grid-column-end: 5;
}